<html>
    <head>
        <title>vue anime3</title>
        <style scoped>
            .flex {
              display: flex;
            }
            
            .v-enter-active {
              transition: all .8s ease;
            }
            
            .v-leave-active {
              transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
            }
            
            .v-enter, .v-leave-to {
              transform: translateY(10px);
              opacity: 0;
            }
            </style>
    </head>
    <body>
      <div id="app">
        <div>
            <transition-group tag="form" appear>
              <div v-for="(value, key) in formData" :key="key" class="flex">
                <input
                  type="text"
                  v-model="formData[key].heroineName"
                  placeholder="ヒロインの名前"
                >
                <button @click="removeBtn(key)">
                  Remove
                </button>
              </div>
            </transition-group>
            <button @click="addBtn()">
              Add
            </button>
          </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
      <script>
        new Vue({
          el: "#app",
          data () {
    return {
      formData: [
        {
          heroineName: ''
        }
      ]
    }
  },
  methods: {
    addBtn () {
      this.formData.push({heroineName: ''})
    },
    removeBtn (key) {
      if (this.formData.length !== 1) {
        this.formData.splice(key, 1)
      }
    }
  }

        })
      </script>
    </body>
</html>